@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  font-family: 'Muli', sans-serif;
}

.container{
background-color:#F0EAE9 ;
min-height: 40rem;
margin: auto;
div {
	margin: 0;
	padding: 0;
  }
  
}
.navbar-pos{
	margin-top: 0%;


}
.title{
	background-color: #333;
	height: 3rem;
	margin:0px;
	font-size: 40px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom:10px ;
    color: white;

	
}
 .icon{
 	width:3rem;
 	height: 3rem;
 	position:absolute;
 	right: 70px;
 	top: 76px;
 	background-color:black;
 } 

.nav{
	height: 3rem;
	width: 97%;
	display: inline-flex;
	list-style: none;
	background-color: white;
	margin-top:0px;
}

.nav>li{

	padding:10px 10px 0px 10px ;
	text-align: right;
}
li>a{
	text-decoration:none;
	color: orange;
}
li>a:hover{
	text-decoration:none;
	color:red;
}
.img1{
	margin-top:0px;
	width: 100%;
	height: 40rem;
}
.button-container{
	display: inline-block;
	position: relative;
}
.button1{
position: absolute;
display: block;
text-align: center;
padding: 5px;
 top: 50%;
  left: 50%;
	width: 7rem;
	height: 25px;
	background-color:#33e3ff ;
	border-style:none;
	color:white;
	box-shadow: 2px ;
	border-radius:8px;
}
.button1:hover{
	color: red;
	background-color: white;
}
.memheading{
	margin-top: 0px;

	background-color:orange;
	height: 2rem;
	padding-top: 10px;
	color: white;
	border-radius: 10px;
}
.member{
	display: inline-block;
	padding: 5px;
	padding-left: 12px;
}
.memphoto{
	width:300px;
	height: 300px;
	padding: 5px;
	padding-bottom: 0px;

}
.memnames{
	text-align: center;
	color: orange;
}


.footer{
	background-color: #333;
	height: 10rem;
	margin:0px;
	padding-left: 10px;
	padding-top: 15px;
    color: white;
   
	
}
.footer-content{
	width: 4rem;
}

lia:is(:link, :active,:visited).active{
	color: white;
	background-color: black;
}
<!.........................form ..........!>
.contact-form {
	width: 100%;
	max-width: 500px;
	
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .contact-form h2 {
	margin-bottom: 20px;
	margin-left:10px;
  }
  
  .form-group {
	margin-bottom: 20px;
	
  }
  
  .form-group label {
	display: block;
	margin-bottom: 5px;
	
  }
  
  .form-group input,
  .form-group textarea {
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.5;
  }
  
  .form-group textarea {
	height: 150px;
  }
  
  button[type="submit"] {
	display: block;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  }
  .form1{
	margin-left: 10px;
	width: 100%;
  }
  .contact2{
	display: inline-flex;
	float: left;
	width: 50%;
  }
  .contact2 .content2{
	margin-left: 50px;
  }